<div class="menu grid-item">
      <div class="main-menu">
        <ul class="menu-list">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="menu-item">
            <a href="{{ .URL }}">{{ .Pre}}
              <span class="hide-h">
                {{ .Name }}
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="category-menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#" class="konzert">
              /<span class="hide-h">
                 konzerte
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="theater">
              /<span class="hide-h">
                theater
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="kabarett">
              /<span class="hide-h">
                kabarett
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="lesung">
              /<span class="hide-h">
                lesung
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="vortrag">
              /<span class="hide-h">
                vortrag
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="performance">
              /<span class="hide-h">
                performance
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="#" class="clubbing">
              /<span class="hide-h">
                clubbing
              </span>
            </a>
          </li>
        </ul>
      </div>
</div>
